flows.json
[{"id":"5bca6ef5.559f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d22c7b21.976108","type":"function","z":"5bca6ef5.559f4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\n\n\n//following are required to receive a token\nvar apikey=\"tNvT2EWpt8rdEGQ0L9wLQ0ao3vv16w_uLVGittXsx96A\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["c8df6e0d.e0f9f"]]},{"id":"f20ae8f7.e768d8","type":"http request","z":"5bca6ef5.559f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/691a6e8d-be3c-4dfe-b08b-35d1da82af54/deployments/8cec25f9-c779-4d35-b57b-e87d2fc79418/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["f9c16359.7fd0d","b9551f4f.3578f"]]},{"id":"ec289f98.30102","type":"debug","z":"5bca6ef5.559f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"b9551f4f.3578f","type":"function","z":"5bca6ef5.559f4","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["ec289f98.30102","b0f46d51.5b35a"]]},{"id":"f9c16359.7fd0d","type":"debug","z":"5bca6ef5.559f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"37ca86ef.85ea8a","type":"function","z":"5bca6ef5.559f4","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"691a6e8d-be3c-4dfe-b08b-35d1da82af54\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\n\n\n//send the user values to service endpoint\nmsg.payload =\n{\"field\": [\" BMI \",\"Adult Mortality\",\n\"Income composition of resources\",\n\"Schooling\"], \n\"values\": [[a,b,c,d]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["f20ae8f7.e768d8"]]},{"id":"c8df6e0d.e0f9f","type":"http request","z":"5bca6ef5.559f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["37ca86ef.85ea8a"]]},{"id":"d0ad1a5f.a06ce8","type":"ui_form","z":"5bca6ef5.559f4","name":"","label":"","group":"ac4b2ece.f80f1","order":0,"width":0,"height":0,"options":[{"label":"\t BMI ","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"c","type":"number","required":true,"rows":null},{"label":"Schooling","value":"d","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["d22c7b21.976108"]]},{"id":"b0f46d51.5b35a","type":"ui_text","z":"5bca6ef5.559f4","group":"ac4b2ece.f80f1","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"ac4b2ece.f80f1","type":"ui_group","z":"","name":"Default","tab":"a9a36274.fa458","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9a36274.fa458","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]